* {
  outline: 1px solid red !important;
}

/* header 始め */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.p.header2-img{
  margin: 0 -200px 0 -200px;
}

.header-img {
  width: 20%;
  margin-left: 20px;
}

.header-ttl-link {
  text-decoration: none;
  color: #00277e;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-right: 30PX;
}

.header-nav-item {
  list-style: none;
  font-size: 16px;
}

.header-nav-item:not(:last-of-type) {
  margin-right: 50px;
}

.header-nav-item-link {
  text-decoration: none;
  color: #00277e;
}

@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }

  .line-top,
  .line-middle,
  .line-bottom {
    display: block;
    width: 35px;
    height: 3px;
    background-color: #00277e;
    position: absolute;
    right: 30px;
    top: 35px;
  }

  .line-top {
    transform: translateY(-10px);
  }

  .line-bottom {
    transform: translateY(10px);
  }
}
/* header 終わり */

/* main タイトル　始め */
.sin-f {
  height: 20vw;
  position: relative;
  display: flex;
  margin-bottom: 600px;
  align-items: center;
}

.sin-hh {
  padding: 20px;
  flex-basis: 60vw;
  position: absolute;
  margin: 30vw 0 0 5vw;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  color: MediumVioletRed;
  font-size: 7vw;
  line-height: 15vw;
}

.font_test {
  font-family: "Gloria Hallelujah", cursive;
  color: DodgerBlue;
  font-size: 7vw;
}

.sin {
  color: MediumVioletRed;
  font-size: 4vw;
  margin-top: 100px;
}

.font_txt {
  color: DodgerBlue;
  font-size: 35px;
}

.sin-text {
  font-size: 2vw;
  width: 35vw;
}

.sin-img {
  height: 50vw;
  display: grid;
  margin-left: auto;
  margin-top: 40vw;
}

.sin-img img{
  width: 80vw;
}
/* main タイトル　終わり */

/*main new 開始  */
.News{
  max-width: 1090px;
  min-width :600px;
  margin: 0 auto;
}

.pp {
  font-family: "Gloria Hallelujah", cursive;
  color: MediumVioletRed;
  margin: 1vw 20vw 1vw 10vw;
  font-size: 16px;
}

.h-pp {
  margin: 1vw 20vw 1vw 10vw;
  font-size: 30px;
}

.news-list {
  list-style: none outside;
  width: 80vw;
  margin: auto;
}
.news-list .item a {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding: 20px 20px;
}
.news-list .item:first-child a {
  border-top: 1px solid #ccc;
}
.news-list .item .date {
  margin: 0;
  min-width: 140px;
  font-size: 16px;
  padding: 0 20px 0 0;
}
.news-list .item .category {
  margin: 0;
  min-width: 140px;
  padding: 0 20px 0 0;
}
.news-list .item .category span {
  background: MediumVioletRed;
  color: #fff;
  text-align: center;
  display: inline-block;
  padding: 5px 30px;
  font-size: 15px;
  line-height: 1;
  border-radius: 100vh;
}
.news-list .item .title {
  margin: 0;
  width: 100vw;
  font-size: 16px;
}
.news-list .item a:hover .title {
  color: #00f;
}

@media screen and (max-width: 767px) {
  .news-list .item a {
    flex-wrap: wrap;
  }
  .news-list .item .date {
    min-width: 100px;
  }
  .news-list .item .title {
    margin-top: 10px;
  }
}
/* main new 終わり */

/* main about 開始 */
.About{
  max-width: 1500px;
  min-width :600px;
  margin: 0 auto;
}

.pp-test {
  font-family: "Gloria Hallelujah", cursive;
  color: MediumVioletRed;
  margin: 5vw 0 0 0;
  font-size: 20px;
  margin-left: 50vw;
	margin-right: 50vw;
}

.h-test {
  margin: 1vw 0 5vw 0;
  font-size: 30px;
  margin-left: 40vw;
	margin-right: 10vw;
}

.test {
  background-color: #ebebeb;
  width: 100vw;
  margin-top: 50px;
  padding-top: 10px;

}

.about {
  padding: 60px 0;
  display: flex;
  justify-content: space-around;
}

.about__img img {
  width: 50vw;
}

.about__img {
  width: 50vw;
}

.about__content {
  width: 40vw;
  font-size: 16px;
  line-height: 5vw;
}

/* main about 終わり */

/* main service 開始 */
.service{
  max-width: 1500px;
  min-width :600px;
  margin: 0 auto;
}

.grid {
  width: 90vw;
  margin: 50px auto;
  display: grid;
  grid-template-rows: 40vw 40vw;
  grid-template-columns: 2fr 2fr;
  margin-bottom: 10vw;
}

.box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: #b31667;
}

.box1-img {
  margin-top: 30px;
  margin-left: 25px;
  width: 20vw;
}

.box1-h {
  color: white;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.box1-p {
  color: white;
  font-size: 16px;
  line-height: 5vw;
}

.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: #b35b8b;
  display: flex;
}

.box2-hp {
  margin: 10vw 5vw 0 5vw;
}

.box2-img {
  margin-top: 30px;
  width: 30vw;
}

.box2-h {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.box2-p {
  color: white;
  font-size: 16px;
  line-height: 5vw;
  margin-top: 20px;
}

.box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #b2889e;
  display: flex;
}

.box3-hp {
  margin: 10vw 5vw 0 5vw;
}

.box3-img {
  margin-top: 5vw;
  width: 30vw;
}

.box3-h {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.box3-p {
  color: white;
  font-size: 16px;
  line-height: 5vw;
  margin-top: 20px;
}

/* main service 終わり */

/* main blog 開始 */
.Blog{
  background-color: #ebebeb;
  padding-bottom: 20px;
  padding-top: 5px;
}

.pp-txt {
  font-family: "Gloria Hallelujah", cursive;
  color: MediumVioletRed;
  font-size: 20px;
  margin: 10vw 10vw 0 10vw;
}

.h-txt {
  margin: 1vw 10vw 5vw 10vw;
  font-size: 30px;
}

.card {
  width: 360px;
  margin: 100px auto 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
  background-color: white;
}

.card__img img {
  width: 20vw;
  border-radius: 20px 20px 0 0;
}

.card__item {
  padding: 15px 25px;
}

.card__content-ttl {
  font-size: 16px;
  margin: 10px 0 30px 0;
  font-weight: 400px;
}

.card__content-cat {
  padding: 10px 25px;
  background: MediumVioletRed;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  border-radius: 20px 0 0 0;
  position: absolute;
  left: 0;
}

.card__content-tag {
  font-size: 14px;
  text-align: right;
}

.card__content-tag-item {
  display: inline-block;
  margin-right: 0 0 20px 0;
}

.card__content-tag-item--last {
  display: inline-block;
  margin: 0 0 20px 0;
}

.card {
  display: inline-block;
  margin: 0 30px;
  width: 20vw;
}

.card-group {
  text-align: center;
}

.card_test {
  max-width: 1500px;
  min-width :600px;
  margin: 0 auto;
}

.original-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: MediumVioletRed;
  font-size: 20px;
  border-radius: 17px;
  width: 300px;
  height: 60px;
  font-weight: bold;
  border: 3px solid MediumVioletRed;
  transition: 0.3s;
  background-color: #fafafa;
  margin: auto;
  margin-top: 100px;
  border-radius: 50px;
}

.original-button:hover {
  transform: scale(1.05);
}

/* main blog 終わり */

/* main Company 開始 */
.company{
  max-width: 1500px;
  min-width :600px;
  margin: 0 auto;
  width: 80vw;
}

table {
  width: 80vw;
  margin: auto;
  border-collapse: collapse;
  font-size: 16px;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 20px;
}

table th {
  font-weight: bold;
  background-color: #dedede;
  text-align: left;
}

table td {
  width: 50vw;
}
/* main Company 終わり */

/* footer 開始 */
.Footer{
  max-width: 1500px;
  min-width :600px;
}

.footer-img {
  margin-top: 10vw;
  display: flex;
  justify-content: center;
}  

.footer-img2 {
  position: relative;
  display: grid;
  width: 50vw;
}

.footer-img2 img {
  height: 200px;
  width: 50vw;
  object-fit: cover;
}

.footer-img2 p {
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  color: white;
}

.footer-img3 {
  position: relative;
  display: grid;
  width: 50vw;
}

.footer-img3 img {
  height: 200px;
  width:50vw;
  object-fit: cover;
}

.footer-img3 p {
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  color: white;
}

.footer-txt {
  text-align: center;
  margin-top: 5vw;
  color: #808080;
}

.original-button {
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 40px;
  width: 30vw;
  height: 70px;
  font-weight: bold;
  border-bottom: 5px solid #b46436;
  transition: 0.3s;
  background-image: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0),
    rgba(255, 34, 211, 1) 3%,
    rgba(211, 26, 102, 1) 96%,
    rgba(154, 39, 238, 1) 100%,
    rgba(255, 255, 255, 0)
  );
}

.button-txt {
  font-size: 40px;
  margin-right: 10vw;
}

.original-button:hover {
  border-bottom-width: 0;
  transform: translateY(5px);
}

.footer-small {
  background-color: #f0fff0;
  text-align: center;
  color: #808080;
  margin-top: 5vw;
  padding-bottom: 20px;
  padding-top: 20px;
}


.footer-box {
color:rgba(211, 26, 102, 1);
width:2px;
height: 50px;
margin: 0 auto;
margin-top: 20px;
}
/* footer 終わり */
